 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
 </head>
 <body>
    <h3>Write new chat</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="Who r u" name="from"> <br> <br>
        <textarea rows="8" cols="80" name="msg" placeholder="Write your message here"></textarea> <br><br>
        <input type="text" placeholder="add receiver" name="to"><br> <br>
        <button>Create chat</button><br> <br>
    </form>
 </body>
 </html>